{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["prettier", "jest"],
  "rules": {
    "semi": 1,
    "prettier/prettier": "error",
    "no-import-assign": "off",
    "no-setter-return": "off",
    "no-dupe-else-if": "off"
  }
}
